#demo{
    background-color: #1b1e21;
    background-size: cover;
    overflow:hidden;
    position:absolute;
    z-index:7;
    top:0;
    left:0;
    height:100%;
    width:100%;
    <!--color-#4e565f
        #11abb0-->
}